@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

@import "./normalize.scss";
@import "./vars.scss";

@font-face {
  font-family: "magnificent";
  src: url("fonts/MagnificChaos.ttf") format("truetype");
}

@font-face {
  font-family: "oldania";
  src: url("fonts/Oldania-Bold.otf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1600px) {
  body .css-1oqqzyl-MuiContainer-root {
    max-width: 1600px;
  }
}
