.wrapper {
  padding-bottom: 100px;

  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//blog/bg_repeater.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
